header {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  background: orange;
  padding: 40px;
}

nav ul {
  display: flex;
  gap: 10px;
}

a {
  color: #000;
}

li:hover,
a:hover {
  scale: 1.1;
  color: #fff;
  transition: all 0.4s ease-in-out;
}

main {
  margin-top: 20px;
}
